buildconfig.properties
.kotlin

.DS_Store
.DS_Store?

Thumbs.db
dependencies/

#Eclipse
.project
.classpath
.settings

#Ant
build.xml
local.properties

#Android Studio
.gradle
build/

*.apk

keystore.jks
keystore.properties

/ar/*.png
/app/prod
/captures
/app/src/main/assets/images.imgdb-imglist.txt

# Idea
**/.idea/*
!**/.idea/codeStyles
!**/.idea/icon.png
!**/.idea/icon.svg
!**/.idea/runConfigurations
!**/.idea/scopes
*.iml

Pods

**/xcuserdata
RobotConf/OpenFeedback-Info.plist
RobotConf/GoogleService-Info.plist
apollo-ios-cli
*.xcuserstate
