#Global git ignore file, which should be the only file which contains ignored items
.DS_Store
.DS_Store?

Thumbs.db
dependencies/

#Eclipse
.project
.classpath
.settings

#IntelliJ IDEA
.idea
*.iml
*.ipr
*.iws

#Ant
build.xml
local.properties

#Android Studio
.idea
.gradle
build/

*.apk

app/src/prod/google-services.json
app/src/preprod/google-services.json

app/prod/release/output.json
keystore.jks
/ar/*.png
/app/prod
/captures
/app/src/main/assets/images.imgdb-imglist.txt
