<?xml version="1.0" encoding="utf-8"?>
<manifest
    package="fr.paug.androidmakers"
    xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE"/>

    <application
        android:name=".AndroidMakersApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity
            android:name=".ui.activity.MainActivity"
            android:configChanges="orientation|screenSize">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <activity
            android:name=".ui.activity.DetailActivity"
            android:configChanges="orientation|screenSize"/>

        <receiver android:name=".receiver.SessionAlarmReceiver">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="${applicationId}.action.UPDATE_CALENDAR_COMPLETED" />
            </intent-filter>
        </receiver>

        <service
            android:name=".service.SessionAlarmService"
            android:exported="false" />

    </application>

</manifest>